h1, h2, h3, h4, p, a {
  font-family: Helvetica, sans-serif;
}

h1, h2, h3 {
  font-weight: bold;
}

h1, h4, a {
  color: white;
}

h2, h3, p {
  color: black;
}

h4 {
  font-size: 18px;
}

p {
  font-size: 14px;
}

a {
  font-size: 18px;
  text-align: center;
}

 body {
   text-align: center;
 }

 menu {
   list-style-type: none;
 }

.header {
  background-image: url("../images/the-flatiron-building.png");
  background-size: cover;
}

.design {
  background-image: url("../images/the-flatiron-building.png");
}

#footer {
  font-family: Helvetica, sans-serif;
  font-size: 11px;
  color: white;
  background-color: dimgray;
  text-align:left;
}

#footer-text {
  font-family: Helvetica, sans-serif;
  color: white;
  font-size: 11px;
}
